body {
	background-image: url("./img/fon.png");
  background-attachment: fixed;
  background-size: cover;
  color: #ffffff;
}

span {
  font-weight: bold;
}
p {
  font-weight: bold;
}

.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 1000px;
	margin: auto;
}

.container > div {
	width: 250px;
	text-align: center;
	padding: 20px;
}

.container > div img {
	height: 200px;
	width:250px;
}

.container .changes p, .container .price {
	text-align: left;
}

.coin-name {
	text-align: center;
}

.changes span, .changes label, .price span {
	float: right;
}

.price span {
	color: white;
}

.currency {
	font-size: 24px;
	color: white;
	max-width: 1000px;
	margin: auto;
	text-align: center;
}

/* SWITCHER https://www.w3schools.com/howto/howto_css_switch.asp */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


#ETH {
  background-color: #2d4934;
  margin: 15px;
}

#LTC {
  background-color: #4c4c4b;
  margin: 15px;
}

#BTC {
  background-color: #351505;
  margin: 15px;
}




